*{
    justify-content: center;
    font-size: large;
    align-items: center;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
}
#nav{
    display: flex;
    gap: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
.icon{
    padding-left: 300px;
    gap: 80px;
}
.all{
    text-align: center;
}
.fea{
    text-align: center;
}
#first{
    display: flex;
    gap: 30%;
}
.bigauctor{
    display: flex;
}
.second{
    display: flex;
}
.three{
    display: flex;
}
.cactus{
    display: flex;
    padding-left: 70px;
}
.tree{
    font-size: 30px;
}
.latestb{
    font-size: 30px;
}
.grow{
    font-size: 30px;
}
.auctor{
    display: flex;
}
.gravida{
    display: flex;
}
.featured{
    display: flex;
    /* padding-left: 100px; */
    gap: 200px;
    margin-left: 250px;
}
.living{
    background-image: url(photos/image15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 50vh;
}
.display{
    position: relative;
}
.buttons{
    display: flex;
    gap: 100px;
}
.flowers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flowers1{
    display: flex;
    justify-content: center;
}
.flowers2{
    display: flex;
    justify-content: center;
}
.cactus{
    display: flex;
    align-items: center;
}
#latest{
    display: flex;
}
.clients{
    display: flex;
}
.love{
    text-align: center;
    
}
.we{
    font-size: 30px;
}
.amazing{
    text-align: center;
    font-size: 30px;
}
.goodrange{
    text-align: center;
}
.latestb{
    text-align: center;
}
.footer{
    display: flex;
    align-items: center;
    gap: 15%;
    width: 97%;
    font-size: 20px;
    padding: 30px;
}